.feedback{
  margin-bottom: 120px;
}

.feedback-section-title{
  margin-bottom: 32px;
}
.feedback-cards-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.feedback-card{
  border: 1px solid black;
  padding: 40px 40px 60px;
}
.feedback-content{
  text-align: center;
}
.feedback-content:before{
  content: '';
  display: block;
  margin: 0 auto 32px;

  width: 40px;
  height: 40px;
  background-image: url("../../img/icons/quotes.svg");
}
.feedback-author{
  margin-bottom: 20px;
  @include textLargeBoldWeb;
}
.feedback-text{
  line-height: 140%;
}


@include mediaTablet{
  .feedback-section-title{
    @include h1Mob;
  }
  .feedback-cards-list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }

}

@include mediaMobile {
  .feedback{
    margin-bottom: 48px;
  }
  .feedback-section-title{
    @include h2Mob;
    margin-bottom: 20px;
  }
  .feedback-cards-list{
    gap: 16px;
  }
  .feedback-card{
    padding: 32px 32px 36px;
  }
  .feedback-content:before{
    content: '';
    display: block;
    margin: 0 auto 32px;

    width: 32px;
    height: 32px;
    background-image: url("../../img/icons/quotes.svg");
    background-size: 32px;
  }

}