@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;500&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body{
  font-family: $font-main;
  color: $main-color;
  font-size: 16px;
}
.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1;
}
.container{
  padding: 0 17px;
  max-width: 1410px;
  margin: 0 auto;

  &--small{
    max-width: 840px;
  }
}

a{
  color: $main-color;
  transition: color 0.2s ease-in-out;
  &:hover{
   color: $accent-color;
  }
}
h1{
 @include h1Web;
}
h2{
 @include h2Web;
}
h3{
  @include h3Web;
}

