//Fonts

$font-main: 'Roboto', sans-serif;
$font-accent: 'Open Sans', sans-serif;



//Colors
$main-color: #212529;
$accent-color: #DDD7C0;
$title-color: #101828;
$bg-color: #ffffff;



//Media

$tablet: 1150px;
$mobile: 700px;